{% load static %}
<div class="bg-secondary text-white py-5 full-width-banner text-center">
    <h1>Pickup Soccer</h1>
    <p class="lead">Denver Soccer! Ian say something plz</p>
</div>
<div class="container my-5">
    <div class="bg-white text-dark pt-5 text-center">
        <h2>Coed Pickup</h2>
        <h4>Every Saturday Morning 9:30 am</h4>
        <h5>Broomfield Commons, Broomfield</h5>
    </div>
    <div class="row align-items-center">
        <div class="col-md-6 text-center" >

            <!-- Map container -->
            <div class="map-container mt-3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6118.557462178891!2d-105.05218335224714!3d39.9351545360843!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876b8a8bd3e121bd%3A0x5436ec899e53b9d3!2sBroomfield%20Commons%20Sports%20Fields!5e0!3m2!1sen!2sus!4v1738967561268!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <img src="{% static 'images/b_commons.jpg' %}" class="img-fluid rounded" alt="Our Mission">
        </div>
    </div>
</div>


<div class="container my-5">
    <div class="bg-white text-dark pt-5 text-center">
        <h2>Ladies Pickup</h2>
        <h4>Every Monday Night 6 pm</h4>
        <h5>Denargo Sports Courts</h5>
        <p>1808 28th st, Denver</p>
    </div>
    <div class="row align-items-center">
        <div class="col-md-6">
            <img src="{% static 'images/ladies.jpg' %}" class="img-fluid rounded" alt="Our Mission">
        </div>
        <div class="col-md-6 text-center">
            <!-- Map container -->
            <div class="map-container mt-3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d311.0823151233335!2d-104.98824252775815!3d39.763428544743434!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876c79bbb107cc27%3A0x767f4006ee40fc08!2sDenargo%20Market%20Sports%20Courts%20%26%20Dog%20Park!5e0!3m2!1sen!2sus!4v1738966585640!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="bg-white text-dark pt-5 text-center">
        <h2>Coed Pickup</h2>
        <h4>Every Tuesday Night 6 pm</h4>
        <h5>Denargo Sports Courts</h5>
        <p>1808 28th st, Denver</p>
    </div>
    <div class="row align-items-center">
        <div class="col-md-6 text-center">
            <!-- Map container -->
            <div class="map-container mt-3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d311.0823151233335!2d-104.98824252775815!3d39.763428544743434!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876c79bbb107cc27%3A0x767f4006ee40fc08!2sDenargo%20Market%20Sports%20Courts%20%26%20Dog%20Park!5e0!3m2!1sen!2sus!4v1738966585640!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <img src="{% static 'images/BareBones3.jpg' %}" class="img-fluid rounded" alt="Our Mission">
        </div>
    </div>
</div>
<!-- Calendar section moved to bottom -->
<div class="container my-5">
    <h1 class="text-center">Pickup Soccer Schedule</h1>
    <div id="calendar"></div>
</div>