{% extends "base.html" %}
{% load static %}

{% block title %}Pickup Games{% endblock %}
{% block hero_background %}{% static 'images/bb3.jpg' %}{% endblock %}


{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

<div class="text-dark py-5 text-center bg-light">
    <h1>Pickup Soccer</h1>
    <p class="lead">Free pick up soccer organzied by Bare Bones Soccer!</p>
</div>


<div class="container my-1">
    <div class="bg-white text-dark pt-3 text-center">
        <h2>Coed Pickup</h2>
        <h4>Every Saturday Morning 9:30 am</h4>
        <h5>Broomfield Commons, Broomfield</h5>
    </div>
    <div class="row align-items-center">
        <div class="text-center" >

            <!-- Map container -->
            <div class="container mt-3 py-2">
                <div class="container">
                    <!-- <p >Where it all started. Bare Bones' longest-running pickup, repping the community and keeping the game strong week after week. Whether you're a day-one player or new to the crew, come see what makes this spot special.
                    </p> -->
                </div>
                <div class="container">
                    <img src="{% static 'images/Pick-Up Broomfield Commons.png' %}" class="img-fluid rounded w-75" alt="Our Mission">
                <div class="pt-3">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6118.557462178891!2d-105.05218335224714!3d39.9351545360843!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876b8a8bd3e121bd%3A0x5436ec899e53b9d3!2sBroomfield%20Commons%20Sports%20Fields!5e0!3m2!1sen!2sus!4v1738967561268!5m2!1sen!2sus" width="250" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr class="my-2 border-secondary opacity-50 border-2 py-4">

<div class="container my-1">
    <div class="bg-white text-dark pt-3 text-center">
        <h2>Ladies Pickup</h2>
        <h4>Every Monday Night 5:30pm</h4>
        <a href="https://www.instagram.com/barebonessoccer/" class="text-dark d-block mt-3">
            <p class="">Check our Instagram stories and posts for location updates!</p>
        </a>

        <!-- <h5>Denargo Sports Courts</h5>
        <p>1808 28th st, Denver</p> -->
    </div>
    <!-- <div class="row align-items-center">
        <div class="text-center" >

            <div class="container mt-3 py-2">
                <div class="container">
                    <p>
                        Under the Lights in RiNoFast, fluid, and fiercely fun. This is casual-competitive futsal with a purpose—building an inclusive, tight-knit community through the love of the game. We've got everything covered, so lace up and show up ready to ball.
                    </p>
                </div>
                <div class="container">
                    <img src="{% static 'images/Pick-Up Denargo Market (Ladies).png' %}" class="img-fluid rounded w-75" alt="ladies night soccer">
                    <div class="pt-3">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d311.0823151233335!2d-104.98824252775815!3d39.763428544743434!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876c79bbb107cc27%3A0x767f4006ee40fc08!2sDenargo%20Market%20Sports%20Courts%20%26%20Dog%20Park!5e0!3m2!1sen!2sus!4v1738966585640!5m2!1sen!2sus" width="250" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                </div>
            </div>
        </div>
    </div> -->
</div>


<hr class="my-2 border-secondary opacity-50 border-2 py-4">

<div class="container my-1">
    <div class="bg-white text-dark pt-3 text-center">
        <h2>Coed Pickup</h2>
        <h4>Every Tuesday Night 6 pm</h4>
        <a href="https://www.instagram.com/barebonessoccer/" class="text-dark d-block mt-3">
            <p class="">Check our Instagram stories and posts for location updates!</p>
        </a>

        <!-- <h5>Denargo Sports Courts</h5>
        <p>1808 28th st, Denver</p> -->
    </div>
    <!-- <div class="row align-items-center">
        <div class="text-center" >

            <div class="container mt-3 py-2">
                <div class="container">
                    <p>Coed Footy - Under the Lights in RiNoHigh-energy, fast-paced, and built for ballers who love the game. This is casual-competitive futsal with a citywide crew, where skill meets community and every match pushes the pace. Show up, play hard, and help grow the game in Denver.
                    </p>
                </div>
                <div class="container">
                    <img src="{% static 'images/BareBones3.jpg' %}" class="img-fluid rounded w-75" alt="ladies night soccer">
                    <div class="pt-3">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d311.0823151233335!2d-104.98824252775815!3d39.763428544743434!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876c79bbb107cc27%3A0x767f4006ee40fc08!2sDenargo%20Market%20Sports%20Courts%20%26%20Dog%20Park!5e0!3m2!1sen!2sus!4v1738966585640!5m2!1sen!2sus" width="250" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                </div>
            </div>
        </div>
    </div> -->
</div>


<!-- <div class="container my-5">
    <div class="bg-white text-dark pt-5 text-center">
        <h2>Coed Pickup</h2>
        <h4>Every Tuesday Night 6 pm</h4>
        <h5>Denargo Sports Courts</h5>
        <p>1808 28th st, Denver</p>
    </div>
    <div class="row align-items-center py-5">
        <div class="col-md-6 text-center">
            <div class="map-container mt-3 py-5">
                <div class="container my-5 py-5">
                    <p>Coed Footy - Under the Lights in RiNoHigh-energy, fast-paced, and built for ballers who love the game. This is casual-competitive futsal with a citywide crew, where skill meets community and every match pushes the pace. Show up, play hard, and help grow the game in Denver.
                    </p>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d311.0823151233335!2d-104.98824252775815!3d39.763428544743434!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876c79bbb107cc27%3A0x767f4006ee40fc08!2sDenargo%20Market%20Sports%20Courts%20%26%20Dog%20Park!5e0!3m2!1sen!2sus!4v1738966585640!5m2!1sen!2sus" width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <img src="{% static 'images/BareBones3.jpg' %}" class="img-fluid rounded" alt="Our Mission">
        </div>
    </div>
</div>
<div class="container my-5 py-5">
    <h1 class="text-center">Pickup Soccer Schedule</h1>
    <div id="calendar"></div>
</div>
<div class="container my-5 py-5">
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            events: '/get-events/',
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay',
            },
            eventClick: function (info) {
                alert('Event: ' + info.event.title);
            },
        });
        calendar.render();
    });
</script>
</div> -->
{% endblock %}
