{% extends "base.html" %}

{% block title %}{{ event.title }}{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center">{{ event.title }}</h1>
    <p class="text-muted text-center">
        {{ event.start_time|date:"F j, Y" }}
    </p>
    <!-- <div class="text-center mb-4">
        <img src="{{ event.image.url }}" class="img-fluid rounded" alt="{{ event.title }}">
    </div> -->
    <p>{{ event.description }}</p>
    <hr>
    <h3>Event Gallery</h3>
    <div class="row g-3">
        {% for image in gallery_images %}
        <div class="col-md-4">
            <img src="{{ image.image.url }}" class="img-fluid rounded" alt="Event Gallery Image">
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
